/* src/components/Register.css */

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #f4f7fc;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3VHQvL75qdTF8vtBZoqFlpKAqg6WNlXOhxA&s');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.register-card {
    /* New class for the card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    /* Center the text within the card */
}

.register-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register-input {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.register-input:focus {
    outline: none;
    border-color: #007bff;
}

.register-button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #0056b3;
}

.password-container {
    position: relative;
}

.password-input {
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2rem;
}